# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
x64/
Debug/
build/
Release/
.vscode/
*.obj
*.pdb
*.ilk
*.exe
*.log
*.tlog
*.idb
*.opensdf
*.sdf
*.suo
*.db
*.opendb
ipch/
build/

# macOS Finder metadata
.DS_Store
**/.DS_Store

# ImGui auto-saved UI layout — local only
imgui.ini
